/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* Стили страницы */
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--text-font-weight);
  padding-top: 100px;
  padding-right: var(--main-padding);
  padding-left: var(--main-padding);
  background-image: var(--page-bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-color: #E7E7E7;

}

.page__title {
  padding-top: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
}

.page__subtitle {
  padding-bottom: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);;
}

/* Стили шапки */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-font), fantasy;
  font-weight: var(--text-font-weight);
  border: 2px solid var(--main-color);
  text-transform: uppercase;
  margin-block-end: 100px;
  inline-size: var(--main-width);
  background-color: var(--main-bg-color);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/* Стили карточки */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: var(--main-width);
  padding-bottom: 103px;
}

.card {
  border: 2px solid var(--main-color);
  background-color: var(--main-bg-color);
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
}

.card__title {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--title-font-weight);
  font-size: var(--card-text-size);
  padding-top: clamp(0.1875rem, 0.1655rem + 0.0939vw, 0.25rem);
  padding-left: 10px;
  padding-right: clamp(0.625rem, 0.3169rem + 1.3146vw, 1.5rem);
  padding-bottom: clamp(0.375rem, 0.441rem + -0.2817vw, 0.1875rem);
}

.card__image-container {
  position: relative;
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card__label {
  position: absolute;
  inset-block-start: 28px;
  inset-inline-end: 25px;
  font-family: var(--accent-font), fantasy;
  font-weight: var(--text-font-weight);
  font-size: var(--accent-text-size);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  mix-blend-mode: hard-light;
}

.card__content {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--text-font-weight);
  font-size: var(--card-text-size);
  line-height: 21px;
  gap: 27px;
  padding-top: 28px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.button {
  position: relative;
  z-index: 1;
  background: transparent;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.card__icon-button {
  display: flex;
  background: transparent;
  border: 2px solid transparent;
  padding: 0;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  border: 2px solid var(--main-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button__text {
  position: relative;
  font-family: var(--accent-font), fantasy;
  font-size: var(--accent-text-size);
  font-weight: var(--text-font-weight);
  color: var(--main-bg-color);
  mix-blend-mode: difference;
}

/* Стили кнопки "Сохранить" и диаложки */

.save__button {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 335px;
  block-size: 55px;
  gap: 8px;
  border: 2px solid var(--main-color);
  cursor: pointer;
}

.diskette__icon {
  position: relative;
  inline-size: 21px;
  block-size: 21px;
  color: var(--main-bg-color);
  mix-blend-mode: difference;
}

#save[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 29px;
  max-width: 353px;
}

.dialog__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog__diskette-icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

.dialog__diskette-text {
  font-family: var(--accent-font);
  text-transform: uppercase;
  line-height: 21px;
}

.dialog__button {
  background-color: transparent;
  inline-size: 288px;
  block-size: 38px;
  border: 2px solid var(--main-color);
  cursor: pointer;
}

.dialog__button-text {
  text-transform: uppercase;
}

#save::backdrop {
  background-color: rgba(0 0 0 / 75%);
}

/* Фильтры */
.filter__blur {
  filter: blur(2px);
}

.filter__brightness {
  filter: brightness(0.4);
}

.filter__contrast {
  filter: contrast(200%);
}

.filter__grayscale {
  filter: grayscale(50%);
}

.filter__sepia {
  filter: sepia(60%) contrast(300%);
}

.filter__saturate {
  filter: saturate(30%);
}

.filter__invert {
  filter: invert(75%);
}

/* Эффекты */
.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
}

.button::before {
  content: '';
  position: absolute;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  background: var(--main-color);
  z-index: -1;
  inset: 0;
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

@supports (
  (text-stroke: var(--text-stroke)) or  (-webkit-text-stroke: var(--text-stroke))) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: var(--text-stroke);
    text-stroke: var(--text-stroke);
  }
}

@media (width < 376px) {
  #save {
    padding: 28px 34px 28px 40px;
    max-inline-size: 340px;
  }

  .save__button {
    inline-size: 306px;
    block-size: 84px;
    flex-direction: column;
  }

  .diskette__icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .card__label {
    inset-inline-end: 11px;
  }

  .card__footer {
    gap: 4px;
  }

}
